<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_99e2f4c769df4c0da2867bdcaf9efabc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_99e2f4c769df4c0da2867bdcaf9efabc" ></div>
        
</body>
<script>    
    
            var map_99e2f4c769df4c0da2867bdcaf9efabc = L.map(
                "map_99e2f4c769df4c0da2867bdcaf9efabc",
                {
                    center: [45.46, 9.19],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_966fd0ec52b74d36a2bc6119e4b72d52 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_99e2f4c769df4c0da2867bdcaf9efabc);
        
    
            var marker_cluster_89b7363d03d7425db5ecbb227c66f342 = L.markerClusterGroup(
                {}
            );
            map_99e2f4c769df4c0da2867bdcaf9efabc.addLayer(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var marker_546a1c259c294a0f8c73fdc8ed6d610f = L.marker(
                [45.483605, 9.234337],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_58c535d0e54747a09b56a95c6015a53f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_546a1c259c294a0f8c73fdc8ed6d610f.setIcon(icon_58c535d0e54747a09b56a95c6015a53f);
        
    
        var popup_d8eb08209faf4027ac34a2af95fafd43 = L.popup({"maxWidth": "100%"});

        
            var html_ba123f5b2fb04334a162d6c858e6c587 = $(`<div id="html_ba123f5b2fb04334a162d6c858e6c587" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_d8eb08209faf4027ac34a2af95fafd43.setContent(html_ba123f5b2fb04334a162d6c858e6c587);
        

        marker_546a1c259c294a0f8c73fdc8ed6d610f.bindPopup(popup_d8eb08209faf4027ac34a2af95fafd43)
        ;

        
    
    
            var marker_8242fb230e3c4b22b14bb1ad407ed007 = L.marker(
                [45.479222, 9.226564],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_032c1748abcf4f6b90019565894b1330 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8242fb230e3c4b22b14bb1ad407ed007.setIcon(icon_032c1748abcf4f6b90019565894b1330);
        
    
        var popup_7c25b9ec3ea749aebca4918087410709 = L.popup({"maxWidth": "100%"});

        
            var html_96bb0b5ff3a34ffd8eb4c328d8ba178e = $(`<div id="html_96bb0b5ff3a34ffd8eb4c328d8ba178e" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_7c25b9ec3ea749aebca4918087410709.setContent(html_96bb0b5ff3a34ffd8eb4c328d8ba178e);
        

        marker_8242fb230e3c4b22b14bb1ad407ed007.bindPopup(popup_7c25b9ec3ea749aebca4918087410709)
        ;

        
    
    
            var marker_4c712e30b5614b10b9d8a9b27887c715 = L.marker(
                [45.479343, 9.228346],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_ca4fdb94ca3348dfb673f5efa7ee9bf2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4c712e30b5614b10b9d8a9b27887c715.setIcon(icon_ca4fdb94ca3348dfb673f5efa7ee9bf2);
        
    
        var popup_054cb3af055b420ca4138cfdda95b52b = L.popup({"maxWidth": "100%"});

        
            var html_bb3935eda06142e7ad3524f5a3448f2f = $(`<div id="html_bb3935eda06142e7ad3524f5a3448f2f" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_054cb3af055b420ca4138cfdda95b52b.setContent(html_bb3935eda06142e7ad3524f5a3448f2f);
        

        marker_4c712e30b5614b10b9d8a9b27887c715.bindPopup(popup_054cb3af055b420ca4138cfdda95b52b)
        ;

        
    
    
            var marker_44ac2908e212474489f54d32a5104839 = L.marker(
                [45.479398, 9.228632],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_de26fb9d3ef940838a64211a47efccc1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_44ac2908e212474489f54d32a5104839.setIcon(icon_de26fb9d3ef940838a64211a47efccc1);
        
    
        var popup_c94d3b49e7704fd5be6ea898ac33d67f = L.popup({"maxWidth": "100%"});

        
            var html_6d6512d4d3e24f37b6dcc38681281d48 = $(`<div id="html_6d6512d4d3e24f37b6dcc38681281d48" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_c94d3b49e7704fd5be6ea898ac33d67f.setContent(html_6d6512d4d3e24f37b6dcc38681281d48);
        

        marker_44ac2908e212474489f54d32a5104839.bindPopup(popup_c94d3b49e7704fd5be6ea898ac33d67f)
        ;

        
    
    
            var marker_7ef6445871054c938780da6b15b207e3 = L.marker(
                [45.479369, 9.229196],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_11e67a70c7d0404dabe596de5ae08967 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7ef6445871054c938780da6b15b207e3.setIcon(icon_11e67a70c7d0404dabe596de5ae08967);
        
    
        var popup_caf5c0befa4b4377b38de3c325de9eeb = L.popup({"maxWidth": "100%"});

        
            var html_f6c132bec37c482a9258e9799a2bdd17 = $(`<div id="html_f6c132bec37c482a9258e9799a2bdd17" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_caf5c0befa4b4377b38de3c325de9eeb.setContent(html_f6c132bec37c482a9258e9799a2bdd17);
        

        marker_7ef6445871054c938780da6b15b207e3.bindPopup(popup_caf5c0befa4b4377b38de3c325de9eeb)
        ;

        
    
    
            var marker_90446636e5e2480492309f8f5c9b7499 = L.marker(
                [45.473222, 9.223736],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_b4498f9785184f1d9d35f6d0ed430d90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_90446636e5e2480492309f8f5c9b7499.setIcon(icon_b4498f9785184f1d9d35f6d0ed430d90);
        
    
        var popup_d9516cbfb7854170b297d32f2f58e059 = L.popup({"maxWidth": "100%"});

        
            var html_1fad34aa5f39432893c4fdbf34562808 = $(`<div id="html_1fad34aa5f39432893c4fdbf34562808" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_d9516cbfb7854170b297d32f2f58e059.setContent(html_1fad34aa5f39432893c4fdbf34562808);
        

        marker_90446636e5e2480492309f8f5c9b7499.bindPopup(popup_d9516cbfb7854170b297d32f2f58e059)
        ;

        
    
    
            var marker_f80f7edb496b4d6bb68d4b2e4a1a8f1b = L.marker(
                [45.473344, 9.223806],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_cccb8458857643ee832319d2d9004289 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f80f7edb496b4d6bb68d4b2e4a1a8f1b.setIcon(icon_cccb8458857643ee832319d2d9004289);
        
    
        var popup_ccda00611f9b4daea846ad4a0bfc5a18 = L.popup({"maxWidth": "100%"});

        
            var html_a74bc2c8ceeb483b8f098c292d2833e6 = $(`<div id="html_a74bc2c8ceeb483b8f098c292d2833e6" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_ccda00611f9b4daea846ad4a0bfc5a18.setContent(html_a74bc2c8ceeb483b8f098c292d2833e6);
        

        marker_f80f7edb496b4d6bb68d4b2e4a1a8f1b.bindPopup(popup_ccda00611f9b4daea846ad4a0bfc5a18)
        ;

        
    
    
            var marker_ca0d0d2891ac4269a86983a062e939a6 = L.marker(
                [45.47335, 9.223952],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_7c2c089bcb9440f1bbd49e7d93af5073 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ca0d0d2891ac4269a86983a062e939a6.setIcon(icon_7c2c089bcb9440f1bbd49e7d93af5073);
        
    
        var popup_a898aadffbe6468f8149f85c427a8ce4 = L.popup({"maxWidth": "100%"});

        
            var html_dcee7557d8f44b4685df4d6151ce8c96 = $(`<div id="html_dcee7557d8f44b4685df4d6151ce8c96" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_a898aadffbe6468f8149f85c427a8ce4.setContent(html_dcee7557d8f44b4685df4d6151ce8c96);
        

        marker_ca0d0d2891ac4269a86983a062e939a6.bindPopup(popup_a898aadffbe6468f8149f85c427a8ce4)
        ;

        
    
    
            var marker_f68be08e61e4410495f4e5c7e61aa817 = L.marker(
                [45.474269, 9.224047],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_3e2340bd29e54853b091ad83f8b06c0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f68be08e61e4410495f4e5c7e61aa817.setIcon(icon_3e2340bd29e54853b091ad83f8b06c0b);
        
    
        var popup_e4342fa8426a4216bd06ad390bc68e17 = L.popup({"maxWidth": "100%"});

        
            var html_1b33da99acc54981b48dd950b0664ca5 = $(`<div id="html_1b33da99acc54981b48dd950b0664ca5" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_e4342fa8426a4216bd06ad390bc68e17.setContent(html_1b33da99acc54981b48dd950b0664ca5);
        

        marker_f68be08e61e4410495f4e5c7e61aa817.bindPopup(popup_e4342fa8426a4216bd06ad390bc68e17)
        ;

        
    
    
            var marker_fe10cf9f2cbd4e06ade16b852648c01e = L.marker(
                [45.475123, 9.223798],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_6f57d381cf334d539a695da2bfdd45b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fe10cf9f2cbd4e06ade16b852648c01e.setIcon(icon_6f57d381cf334d539a695da2bfdd45b8);
        
    
        var popup_1ed15bcbe2f84dbd93c91f922035e6b6 = L.popup({"maxWidth": "100%"});

        
            var html_82793c0b65104545ab25becfe695c80a = $(`<div id="html_82793c0b65104545ab25becfe695c80a" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_1ed15bcbe2f84dbd93c91f922035e6b6.setContent(html_82793c0b65104545ab25becfe695c80a);
        

        marker_fe10cf9f2cbd4e06ade16b852648c01e.bindPopup(popup_1ed15bcbe2f84dbd93c91f922035e6b6)
        ;

        
    
    
            var marker_eb847274299b46139f3786af77d5f1ba = L.marker(
                [45.475088, 9.223792],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_c8dde8c4ba5c45398b05f3abf9ed7d71 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_eb847274299b46139f3786af77d5f1ba.setIcon(icon_c8dde8c4ba5c45398b05f3abf9ed7d71);
        
    
        var popup_dc91ddcbad3a4f9b8d05327e4808503d = L.popup({"maxWidth": "100%"});

        
            var html_df4f156e7203429eb5b7942945c99955 = $(`<div id="html_df4f156e7203429eb5b7942945c99955" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_dc91ddcbad3a4f9b8d05327e4808503d.setContent(html_df4f156e7203429eb5b7942945c99955);
        

        marker_eb847274299b46139f3786af77d5f1ba.bindPopup(popup_dc91ddcbad3a4f9b8d05327e4808503d)
        ;

        
    
    
            var marker_162a8bf0d1424e6480e53d1d82f469a0 = L.marker(
                [45.475262, 9.22365],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_5ff4cb758a8444038b2fb2c07af297af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_162a8bf0d1424e6480e53d1d82f469a0.setIcon(icon_5ff4cb758a8444038b2fb2c07af297af);
        
    
        var popup_ef860c2278444a60a9924f2bf7c4f4e2 = L.popup({"maxWidth": "100%"});

        
            var html_2bf736a7310b4fea8e7c2ba63b53d866 = $(`<div id="html_2bf736a7310b4fea8e7c2ba63b53d866" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_ef860c2278444a60a9924f2bf7c4f4e2.setContent(html_2bf736a7310b4fea8e7c2ba63b53d866);
        

        marker_162a8bf0d1424e6480e53d1d82f469a0.bindPopup(popup_ef860c2278444a60a9924f2bf7c4f4e2)
        ;

        
    
    
            var marker_7e8c76c9a8a84a758d09801c95a7acfc = L.marker(
                [45.475242, 9.223634],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_9f4aa2856ea34525ab0398dd7c232dac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7e8c76c9a8a84a758d09801c95a7acfc.setIcon(icon_9f4aa2856ea34525ab0398dd7c232dac);
        
    
        var popup_c43ed02ae68c49f4a238869fe1c781a2 = L.popup({"maxWidth": "100%"});

        
            var html_9cdb1e275c8847808fb79841dd7029d3 = $(`<div id="html_9cdb1e275c8847808fb79841dd7029d3" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_c43ed02ae68c49f4a238869fe1c781a2.setContent(html_9cdb1e275c8847808fb79841dd7029d3);
        

        marker_7e8c76c9a8a84a758d09801c95a7acfc.bindPopup(popup_c43ed02ae68c49f4a238869fe1c781a2)
        ;

        
    
    
            var marker_ae25d98df2d446e2bf1b0b5e71a3580f = L.marker(
                [45.475265, 9.223694],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_243316add48f4ddba5d0c2ca2fcc1270 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ae25d98df2d446e2bf1b0b5e71a3580f.setIcon(icon_243316add48f4ddba5d0c2ca2fcc1270);
        
    
        var popup_ec1bca649bc84e2eacf80cedffbecff0 = L.popup({"maxWidth": "100%"});

        
            var html_8cc6609aca9046b887059491330b6545 = $(`<div id="html_8cc6609aca9046b887059491330b6545" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_ec1bca649bc84e2eacf80cedffbecff0.setContent(html_8cc6609aca9046b887059491330b6545);
        

        marker_ae25d98df2d446e2bf1b0b5e71a3580f.bindPopup(popup_ec1bca649bc84e2eacf80cedffbecff0)
        ;

        
    
    
            var marker_c5b9b73b790b452392af81111409aa73 = L.marker(
                [45.475356, 9.223862],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_a5e3ae38f4dd420e8ddaab660776c28d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c5b9b73b790b452392af81111409aa73.setIcon(icon_a5e3ae38f4dd420e8ddaab660776c28d);
        
    
        var popup_8717492fdb6b486aae475d13cfc0c737 = L.popup({"maxWidth": "100%"});

        
            var html_fbb1bdf30ed2462cb221fdcb32ba8dd1 = $(`<div id="html_fbb1bdf30ed2462cb221fdcb32ba8dd1" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_8717492fdb6b486aae475d13cfc0c737.setContent(html_fbb1bdf30ed2462cb221fdcb32ba8dd1);
        

        marker_c5b9b73b790b452392af81111409aa73.bindPopup(popup_8717492fdb6b486aae475d13cfc0c737)
        ;

        
    
    
            var marker_7160f9492bb943578af9c83389877c27 = L.marker(
                [45.476252, 9.224002],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_57b62080d49644818c7ba9311163b285 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7160f9492bb943578af9c83389877c27.setIcon(icon_57b62080d49644818c7ba9311163b285);
        
    
        var popup_edaec799104d4db7b8807e743163f179 = L.popup({"maxWidth": "100%"});

        
            var html_e6cf7c273f89465e925ee29f1896290e = $(`<div id="html_e6cf7c273f89465e925ee29f1896290e" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_edaec799104d4db7b8807e743163f179.setContent(html_e6cf7c273f89465e925ee29f1896290e);
        

        marker_7160f9492bb943578af9c83389877c27.bindPopup(popup_edaec799104d4db7b8807e743163f179)
        ;

        
    
    
            var marker_c657168b26e24d00ad2af9f870f1fc0c = L.marker(
                [45.476297, 9.224122],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_44de9b299e894024afe5a9179b9e48fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c657168b26e24d00ad2af9f870f1fc0c.setIcon(icon_44de9b299e894024afe5a9179b9e48fb);
        
    
        var popup_3ac80d4a1a4c4138bdae2f2a0af7cdff = L.popup({"maxWidth": "100%"});

        
            var html_5a3d29398d7c4a57a40909e6b9efba4f = $(`<div id="html_5a3d29398d7c4a57a40909e6b9efba4f" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_3ac80d4a1a4c4138bdae2f2a0af7cdff.setContent(html_5a3d29398d7c4a57a40909e6b9efba4f);
        

        marker_c657168b26e24d00ad2af9f870f1fc0c.bindPopup(popup_3ac80d4a1a4c4138bdae2f2a0af7cdff)
        ;

        
    
    
            var marker_3119d148df71493c80aa3bf8cd40f863 = L.marker(
                [45.476316, 9.224094],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_75bb80dde0444f9296d093432bdd1f3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3119d148df71493c80aa3bf8cd40f863.setIcon(icon_75bb80dde0444f9296d093432bdd1f3c);
        
    
        var popup_5d5bbf9ad064469196d00546d38cb66d = L.popup({"maxWidth": "100%"});

        
            var html_106616f9615d4496a0fb007a255770f0 = $(`<div id="html_106616f9615d4496a0fb007a255770f0" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_5d5bbf9ad064469196d00546d38cb66d.setContent(html_106616f9615d4496a0fb007a255770f0);
        

        marker_3119d148df71493c80aa3bf8cd40f863.bindPopup(popup_5d5bbf9ad064469196d00546d38cb66d)
        ;

        
    
    
            var marker_1c951cadde004296ab636835b33a4c2a = L.marker(
                [45.4856, 9.234329],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_3c1476ddcce34ebfadc8d92994bb5098 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1c951cadde004296ab636835b33a4c2a.setIcon(icon_3c1476ddcce34ebfadc8d92994bb5098);
        
    
        var popup_6e87a57170d94c72b73181a3561aad9f = L.popup({"maxWidth": "100%"});

        
            var html_cd99975d9bd34be892462d3ef7adac2d = $(`<div id="html_cd99975d9bd34be892462d3ef7adac2d" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_6e87a57170d94c72b73181a3561aad9f.setContent(html_cd99975d9bd34be892462d3ef7adac2d);
        

        marker_1c951cadde004296ab636835b33a4c2a.bindPopup(popup_6e87a57170d94c72b73181a3561aad9f)
        ;

        
    
    
            var marker_05c716922f7d4bb7b35905553cc89a57 = L.marker(
                [45.485166, 9.234806],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_676c06cd32104462a0328505e7b681f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_05c716922f7d4bb7b35905553cc89a57.setIcon(icon_676c06cd32104462a0328505e7b681f4);
        
    
        var popup_6cf34bd01e20444cb230cc8013673377 = L.popup({"maxWidth": "100%"});

        
            var html_1bfb0bc2a4ca458ea9fc3f74d9f08964 = $(`<div id="html_1bfb0bc2a4ca458ea9fc3f74d9f08964" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_6cf34bd01e20444cb230cc8013673377.setContent(html_1bfb0bc2a4ca458ea9fc3f74d9f08964);
        

        marker_05c716922f7d4bb7b35905553cc89a57.bindPopup(popup_6cf34bd01e20444cb230cc8013673377)
        ;

        
    
    
            var marker_fe4ce54f98074a15a7c6142166e2e2b7 = L.marker(
                [45.484381, 9.235344],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_420725b427924ad98918ccd299b9577c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fe4ce54f98074a15a7c6142166e2e2b7.setIcon(icon_420725b427924ad98918ccd299b9577c);
        
    
        var popup_0f2195c63ae642d7bcca68586363fe1b = L.popup({"maxWidth": "100%"});

        
            var html_e6777f43f8944503b9fdaa61d8144e43 = $(`<div id="html_e6777f43f8944503b9fdaa61d8144e43" style="width: 100.0%; height: 100.0%;">Block Crack</div>`)[0];
            popup_0f2195c63ae642d7bcca68586363fe1b.setContent(html_e6777f43f8944503b9fdaa61d8144e43);
        

        marker_fe4ce54f98074a15a7c6142166e2e2b7.bindPopup(popup_0f2195c63ae642d7bcca68586363fe1b)
        ;

        
    
    
            var marker_46384a34f9974a57821842d04557d6b9 = L.marker(
                [45.482904, 9.234332],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_45d66d48090d4e438708cacedb2e2156 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_46384a34f9974a57821842d04557d6b9.setIcon(icon_45d66d48090d4e438708cacedb2e2156);
        
    
        var popup_cae9fbd1b9644bbe87b05d3ce93c74f9 = L.popup({"maxWidth": "100%"});

        
            var html_210d0c4da5d24399b61187aaabb2c1b5 = $(`<div id="html_210d0c4da5d24399b61187aaabb2c1b5" style="width: 100.0%; height: 100.0%;">Pothole</div>`)[0];
            popup_cae9fbd1b9644bbe87b05d3ce93c74f9.setContent(html_210d0c4da5d24399b61187aaabb2c1b5);
        

        marker_46384a34f9974a57821842d04557d6b9.bindPopup(popup_cae9fbd1b9644bbe87b05d3ce93c74f9)
        ;

        
    
    
            var marker_ea785e9e464f4695bdd468e1cab6f668 = L.marker(
                [45.482314, 9.234447],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_793389636c8c4f81a9defc78a1cc261d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ea785e9e464f4695bdd468e1cab6f668.setIcon(icon_793389636c8c4f81a9defc78a1cc261d);
        
    
        var popup_561f89346c6942ad9c4ac8fb2fb16b7c = L.popup({"maxWidth": "100%"});

        
            var html_7170359c599d40ae8223a4320563993b = $(`<div id="html_7170359c599d40ae8223a4320563993b" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_561f89346c6942ad9c4ac8fb2fb16b7c.setContent(html_7170359c599d40ae8223a4320563993b);
        

        marker_ea785e9e464f4695bdd468e1cab6f668.bindPopup(popup_561f89346c6942ad9c4ac8fb2fb16b7c)
        ;

        
    
    
            var marker_e5aad7b7dac7403e84f49aef1d5c323e = L.marker(
                [45.4816, 9.23405],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_6a73eb98b58b484ba0ce9cc6af69820c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e5aad7b7dac7403e84f49aef1d5c323e.setIcon(icon_6a73eb98b58b484ba0ce9cc6af69820c);
        
    
        var popup_1a11845d284f4596b5a2b5db0874d4cd = L.popup({"maxWidth": "100%"});

        
            var html_c87d3a4edef44ed6bea83c68abece74d = $(`<div id="html_c87d3a4edef44ed6bea83c68abece74d" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_1a11845d284f4596b5a2b5db0874d4cd.setContent(html_c87d3a4edef44ed6bea83c68abece74d);
        

        marker_e5aad7b7dac7403e84f49aef1d5c323e.bindPopup(popup_1a11845d284f4596b5a2b5db0874d4cd)
        ;

        
    
    
            var marker_8f374170947b44f1a087ddd5b6371b1b = L.marker(
                [45.48098, 9.23413],
                {}
            ).addTo(marker_cluster_89b7363d03d7425db5ecbb227c66f342);
        
    
            var icon_6239c2fe2ebb4d83b573da3f3278398c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8f374170947b44f1a087ddd5b6371b1b.setIcon(icon_6239c2fe2ebb4d83b573da3f3278398c);
        
    
        var popup_7304a3f60c2d4a19a488bf3fb8d7a084 = L.popup({"maxWidth": "100%"});

        
            var html_c5f5237439864c9abba1be27bbdb78fe = $(`<div id="html_c5f5237439864c9abba1be27bbdb78fe" style="width: 100.0%; height: 100.0%;">Longitudinal Crack</div>`)[0];
            popup_7304a3f60c2d4a19a488bf3fb8d7a084.setContent(html_c5f5237439864c9abba1be27bbdb78fe);
        

        marker_8f374170947b44f1a087ddd5b6371b1b.bindPopup(popup_7304a3f60c2d4a19a488bf3fb8d7a084)
        ;

        
    
</script>